/* Стилизация кнопки */
.btn {
    padding: 15px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    border-radius: 8px;
    font-family: 'Roboto', serif;
    font-style: normal;
    color: var(--white);
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.btn--primary {
    background-color: var(--color-primary-blue);
}

.btn--secondary {
    background-color: var(--color-secondary-purple);
}

.btn--alternate {
    background-color: var(--white);
    border: 1px solid var(--grey-3);
    color: var(--grey-4);
}

.btn--primary:hover {
    background-color: var(--color-primary-intensive-blue);
}

.btn--secondary:hover {
    background-color: var(--color-secondary-intensive-purple);
}

.btn--alternate:hover {
    border: 1px solid var(--black);
}

.btn[disabled] {
    opacity: 50%;
    cursor: not-allowed;
}
