.histogram {
    font-family: 'Inter', serif;
    color: var(--black);
    display: flex;
    flex-direction: column;
    gap: 24px;
    border-radius: 8px;
    border: 1px solid var(--grey-3);
    padding: 16px 24px 24px;
}

.histogram__upper-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.histogram__orders-header {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    opacity: 0.8;
}

.histogram__orders-count {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.histogram__view-all {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
    color: #4263EB;
}

.histogram__graph-row {
    display: flex;
    align-items: baseline;
    margin: 0 3px;
    height: 50px;
    gap: 1px;
}

.histogram__graph-element {
    flex-grow: 1;
    background-color: var(--purple);
}